p{
    color: wheat;
}
#lyrics-container{
    font-weight: bold;
    font-size: 30px;
}

/* main{
    margin: auto;
} */

#text-section{
    margin: auto;
    border-radius: 3%;
    height: 200px;
    width: 500px;
    box-sizing: border-box;
    padding: 10px 7%;
    background-image: url("index.jpg");
    background-size: cover;
    background-color: grey;
    background-blend-mode: multiply;
}

#buttons-section{
    position: relative;
    left: 40%;
}

button{
    padding: 15px 32px;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

button:hover{
    opacity: 0.5;
    cursor: pointer;
}

#ply{
    background-color: green;
}
#pse{
    background-color: blue;
}
#stp{
    background-color: red;
}

form{
    margin-left: auto;
}

#seek{
    width: 500px;
}

input{
    margin-left: 31.5%;
    accent-color: orange;
}

/* #current-display{
    float: left;
}

#duration-display{
    float: right;
} */